* {
    margin: 0;
    padding: 0;
}

body {
    background-color: floralwhite;
}

.header {
    min-height: 10vh;
    width: 100%;
   
    background-position: center;
    background-size: cover;
    position: relative;
}

    .header :hover {
        background-color: peachpuff;
        transition: 0.5s;
    }


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

    nav img {
        width: 300px;
    }

.nav-links {
    flex: 1;
    text-align: right;
}

    .nav-links ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }

        .nav-links ul li a {
            color: black;
            text-decoration: none;
            font-family: 'Gloock', serif;
            font-size: 18px;
        }

.dissectionleft {
    margin-top:100px;
    margin-left:20%;
    display: flex;
  
    gap: 60px;
}
.dissectionright {
    display: flex;
    
    margin-left: 100px;
    margin-top: 100px;
    margin-left: 100px;
    gap: 50px;
}

.img {
    width: 200px;
    height: 200px;
    margin-top: 2%;
    border-radius: 2%;
    align-content: start;
    margin-left:50%;
    margin-bottom:2%;
}

.box {
    width: 50%;
    margin-left:25%;
    margin-top:1%;
    border: 2px solid gray;
    
   
}

.topbox {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border: 2px solid gray;
    
}

.pricing{
    display:flex;
}

.textadjustment{
    margin-left:70%;
    margin-top:5%;

}


.textadjustmentradio {
    margin-left: 10%;
    margin-top: 10%;
}
h77{
    font-size:large;
    margin-left:20%;
}
.textadjustmentt {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom:10%;
}


.detailsinputboxes {
    width: 155px;
    height: 50px;
    margin-bottom: 15px;
    background-color: floralwhite;
}

    .detailsinputboxes:hover {
        background-color: whitesmoke;
        transition: 0.5s;
    }



.productinfodetails {
    font-size: x-large;
    margin-left: 15px;
    text-align: justify-all;
    font-family: 'Mynerve', cursive;
    color: black;
}



.orderpage{
    float:right;
    margin-right:9%;
}



h77 {
    font-family: 'Gloock', serif;
}


.applebox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image:url(images/red.jpg);
}

.whitegrapebox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/whitegrape.jpg);
}

.strawberrybananabox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/strawberrybanana.jpg);
}

.strawberrykiwibox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/strawberrykiwi.jpg);
}

.citruspunchbox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/citruspunch.jpg);
}

.peachmangobox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/peachmango.jpg);
}

.blueraspberrybox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url(images/blueraspberry.jpg);
}

.greenwatermelonbox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/greenwatermelon.jpg);
}

.orangeraspberrybox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/orangeraspberry.jpg);
}

.cranapplebox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/cran.jpg);
}

.orangepineapple {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/orangepineapple.jpg);
}

.berrybox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/berry.jpg);
}

.cherrybox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/cherry.jpg);
}

.fruitpunchbox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/fruitpunch.jpg);
}
.tangerinebox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/tangerine.jpg);
}

.mixpitchersbox {
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    border: 2px solid gray;
    background-image: url(images/mixpitchers.jpg);
}


.bottom {
    min-height: 30vh;
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    position: relative;
}

.logo {
    width: 60%;
}

.fa {
    padding: 10px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 90px;
    margin-top: 30%;
}

.fa-facebook {
    color: white;
    background: #3B5998;
}

.fa-instagram {
    color: white;
    background: #125688;
}


.socialmedia {
}

.fa:hover {
    opacity: 0.9;
}

p00 {
    color: black;
    font-family: 'Gloock', serif;
    font-size: large;
}


.ordercart{
    float:right;
    margin-right:5%;
    margin-top:5%;
    width:16%;
 
    background-color:peachpuff;
}